<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Smoke test suite">

    <listeners>
        <listener class-name="listener.TestMethodExecutionListener"/>
    </listeners>

    <test name="Login tests">
        <classes>
            <class name="com.hillel.auto.LoginTest"/>
        </classes>
    </test>

</suite>